{% extends "base.html" %}

{% block title %}Lista de Contratos{% endblock %}

{% block content %}
<h2>Lista de Contratos</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Objeto</th>
            <th>Entidade Adjudicante</th>
            <th>Valor</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
        <tr>
            <td><a href="{{ url_for('contract', id=contract['IdContrato']) }}">{{ contract['IdContrato'] }}</a></td>
            <td>{{ contract['ObjetivoContrato'] }}</td>
            <td>{{ contract['TipoProcedimento'] }}</td>
            <td>{{ contract['preco'] }} €</td>
            <td>{{ contract['DataPublicacao'] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Nenhum contrato encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
