{% extends "base.html" %}

{% block title %}Lista de Entidades{% endblock %}

{% block content %}
<h2>Lista de Entidades</h2>

<table>
    <thead>
        <tr>
            <th>NIF</th>
            <th>Designação</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ url_for('entity', id=entity['NIFAdjudicante']) }}">{{ entity['NIFAdjudicante'] }}</a></td>
            <td>{{ entity['designacao'] }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">Nenhuma entidade encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
